body{
    margin: 0;
}
.container{
    max-width: 1200px;
    display: grid; 
    grid-template-columns: 300px 300px 300px 300px;
    grid-template-rows: 300px 300px 300px 300px;
    /* gap: 5px; */
    margin: auto;
    transition: 0.5s ease-in-out 0.3s;
    justify-content: center;
    padding-bottom: 80px;
}

.card{
    margin: 12px; 
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
}
.car-dark{
    background: var(--dark-box-bg);
    box-shadow:rgb(48, 54, 61) 0px 0px 0px 2px inset;
    border: 2px solid rgb(48, 54, 61);
    color: white;
}

.card1 {
    grid-row: 1/2;
    grid-column: 1/3;
    border-radius: 32px;
    box-shadow: 0.2rem 0.4rem 12rem rgb(0 0 0 / 15%);
    position: relative;
    /* transition: var(0.4s); */
    /* width: 580px;
    height: 280px; */
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 36px 42px;
    border-radius: 32px;
}

.emojiButton{
    box-shadow: rgb(240, 242, 248) 0px 0px 0px 2px;
    position: absolute;
    height: 36px;
    padding: 0px 12px;
    top: 20px;
    right: 20px;
    border: medium none;
    border-radius: 18px;
    background: transparent;
    display: flex;
    -moz-box-align: center;
    align-items: center;
    transition: all 0.2s ease-out 0s;  
    cursor: pointer; 
}
.emojiButton:hover{
    box-shadow: rgb(240, 242, 248) 0px 0px 0px 4px;
}
.emoji-b-dark {
    box-shadow: rgb(48, 54, 61) 0px 0px 0px 2px;
    color: white;
}
.emoji-b-dark:hover{
    box-shadow: rgb(48, 54, 61) 0px 0px 0px 4px;

}

.image1{
    width: 100px;
}

.card1-into{
    font-size: 31px;
    /* font-family: "Silka Regular"; */
    line-height: 33px;
    letter-spacing: 0.5px;
    font-weight: 400;
    text-align: center;
    padding-top: 1rem;
}
.card1-into > span{

    color: #FFB800;
}

.card2{
    grid-row: 1/2;
    grid-column: 3/4;
    border-radius: 32px;
    box-shadow: 0.2rem 0.4rem 12rem rgb(0 0 0 / 15%);
    /* transition: var(0.4s); */
    overflow: hidden;
    cursor: pointer;
}
.DM-Container-circle{
    height: 48px;
    width: 90px;
    border-radius: 40px;
    display: flex;
    -moz-box-align: center;
    align-items: center;
    position: relative;
    background: rgb(33, 38, 45);
    box-shadow: rgb(48, 54, 61) 0px 0px 0px 2px inset;
}
.DM-Container-circle-white{
    height: 48px;
    width: 90px;
    border-radius: 40px;
    display: flex;
    -moz-box-align: center;
    align-items: center;
    position: relative;
    background: rgba(0, 0, 0, 0.07);
    /* box-shadow: rgb(48, 54, 61) 0px 0px 0px 2px inset; */
}
.DM-Container-bg{
    height: 36px;
    width: 36px;
    border-radius: 30px;
    background: darkgrey;
    position: absolute;
    display: flex;
    justify-items: center;
    -moz-box-align: center;
    align-items: center;
    cursor: pointer;
    transition-property: svg;
    /* transition-duration: 4s;
    transition-delay: 2s; */
}
.DM-Container-icon{
    width: 60%;
    position: absolute;
    left: 7px;
    fill: #f6edb2;
}

.resumeBox{
    /* grid-row: 2/3;
    grid-column: 1/2; */
    border-radius: 32px;
    box-shadow: 0.2rem 0.4rem 12rem rgb(0 0 0 / 15%);
    overflow: hidden;
    background: #ff8080;
}
.resume_icon{
    max-width: 70%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
a{
    text-decoration: none;
}
.aboutMe{
    /* grid-row: 1/3;
    grid-column: 4/5; */
    border-radius: 32px;
    box-shadow: 0.2rem 0.4rem 12rem rgb(0 0 0 / 15%);
     transition: all 0.3s;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-right: 1rem;
    padding-left: 1rem;
    position: relative;
}
.borderFix{
    border:  2px solid transparent;
}
.aboutmeParagraph {
    line-height: 18px;
}
.aboutmeParaDiv{
    margin-bottom: 20px;
}
.aboutproParaDiv{
    margin-bottom: 22px;
}

.aboutmeParagraph > span{
    color: #FFB800;
}
.navDivAboutme{   
    position: absolute;
    top: 55px;}

.aboutmeNavBarDark{
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 25px;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 0px;
    padding-right: 0px;
    max-width: 314px;
    border: 2px solid rgb(48, 54, 61);
    color: var(--dark-font-color);
}
.aboutmeNavBar{
    position: relative;
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.07);
    border-radius: 25px;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 0px;
    padding-right: 0px;
    max-width: 314px;
}
.aboutmeHighlightDark{
    position: absolute;
    background: rgb(33, 38, 45);
    /* z-index: -1; */
    width: 70px;
    border-radius: 16px;
    height: 32px;
    transition: all 0.3s;
}
.aboutmeHighlight{
    position: absolute;
    background:white;
    /* z-index: -1; */
    width: 70px;
    border-radius: 16px;
    height: 32px;
    transition: all 0.3s;
}
.filterMyself:hover, .filterProject:hover{
    color: rgb(117 117 117);
    transition: all 0.3s ease 0s;
}
.LinkedinBox{
    /* grid-row: 2/3;
    grid-column: 2/3; */
    border-radius: 32px;
    box-shadow: 0.2rem 0.4rem 12rem rgb(0 0 0 / 15%);
    /* transition: var(0.4s); */
    overflow: hidden;
    background: #0077B5;
}
.Icons{
    width: 140px;
}

.Spotify{
    /* grid-row: 2/4;
    grid-column: 3/4; */
    border-radius: 32px;
    box-shadow: 0.2rem 0.4rem 12rem rgb(0 0 0 / 15%);
    /* transition: var(0.4s); */
    overflow: hidden;
    flex-direction: column;
    justify-content:space-evenly;
}

.spotifyImg{
    width: 202px;
    height: 202px;
    border-radius: 12px;
    box-shadow: 0.2rem 0.4rem 1.2rem rgba(0, 0, 0, 0.08);
}
.spotifyIcon{
    width: 122px;
    height: 66px;
    margin: 0px -4px;
}
.recentlyplayedContanier{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin: 0px 8px;
}
.animationContainer{
    margin-right: 4px;
    display: flex;
    align-items: center;
}
.spotifyAnimator1{
    animation: playing 0.8s infinite;
}
.spotifyAnimator2{
    animation: playing 1s infinite;
}
.spotifyAnimator3{
    animation: playing 1.2s infinite;
}
.spotifyAnimator1, .spotifyAnimator2, .spotifyAnimator3{
    width: 3px;
    border-radius: 1.5px;
    background-color: #2ad45e;
    margin-right: 3px;
}
@keyframes playing {
    0% {
      height: 3px;
    }
    50% {
      height: 12px;
    }
    100% {
      height: 3px;
    }
}
.recentlyPlayed{
    font-size: 16px;
    font-weight: 600;
    color: rgb(42, 212, 94);
    pointer-events: none;
}
.trackName{
    font-size: 24px;
    font-weight: 800;
    letter-spacing: 0.5px;
    text-decoration: none;
    color: inherit;
}
.trackName:hover{
    color: grey;
    transition: 0.5s ease-out;
}
.artistName{
    font-size: 17px;
    margin: 3px 7px;
}
.trackName > p{
    margin: 4px 7px;
}

.MapBox{
    border-radius: 32px;
    box-shadow: 0.2rem 0.4rem 12rem rgb(0 0 0 / 15%);
    /* transition: var(0.4s); */
    overflow: hidden; 
}
.mapclass{
    width: 100%;
    height: 100%;
}
.gm-style{
    overflow: hidden;
    border-radius: 32px;
}
.designs{
    /* grid-area: 3/1/4/2;  */
    border-radius: 32px;
    box-shadow: 0.2rem 0.4rem 12rem rgb(0 0 0 / 15%);
    /* transition: var(0.4s); */
    overflow: hidden; 
    flex-direction: column; 
    position: relative;
}
.designs > img{
    width: 28rem;
    border-radius: inherit;
}

.arrow_left {
    width: 3rem;
    left: 3px;
    top: 7rem;
    cursor: pointer;
    transition: all 0.3s;
    position: absolute;
}
.arrow_right {
    width: 3rem;
    right: 3px;
    top: 7rem;
    cursor: pointer;
    transition: all 0.3s;
    position: absolute;
}

.formContainer{
    border-radius: 32px;
    box-shadow: 0.2rem 0.4rem 12rem rgb(0 0 0 / 15%);
    /* transition: var(0.4s); */
    overflow: hidden;
 
}
.formContainerDiv{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    font-size: 35px;
    transition: all 0.3s;
    padding: 40px 44px;
}
.formHeader{
    /* font-family: serif-bold; */
    font-family: math;

}
.formParagraph{
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.5px;
    font-weight: 400;
}
.inputContatiner{
    display: flex;
    flex-direction: column;
}

.buttonDiv{
    display: flex;
    align-items: center;
    justify-content: center;
}
.submitButton{
    width: 75px;
    height: 30px;
    border: 0px;
    border-radius: 5px;
    display: block;
    background: transparent;
    text-align: center;
    box-shadow: rgb(194 199 215) 0px 0px 0px 2px;
    transition: box-shadow 0.2s ease-out 0s;
    color: rgb(117 117 117); 
    /* will-change: transform; */
}
.submitButton:hover{
    box-shadow: rgb(194 199 215) 0px 0px 0px 4px;
    
    /* color: white; */
}
/*rgb(240, 242, 248)  */
.submitButton:focus{
    outline: none;   
}
.submitButtondark{
    width: 75px;
    height: 30px;
    border: none;
    border-radius: 5px;
    display: block;
    background: transparent;
    text-align: center;
    box-shadow: rgb(48, 54, 61) 0px 0px 0px 2px;
    transition: box-shadow 0.2s ease-out 0s;
    color: rgb(117 117 117); 
    /* will-change: transform; */
}
.submitButtondark:hover{
    box-shadow: rgb(48, 54, 61) 0px 0px 0px 4px;
}
.submitButtondark:focus{
    outline: none;
}
.celebEmoji{
    max-width: 190px;
}
.errorMes{
    font-size: small;
    color:#ff8080;
}

.inputBox{
    border-top: none;
    border-right: none;
    border-left: none;
    border-image: initial;
    width: 100%;
    background: transparent;
    border-bottom: 1.5px solid rgb(194 199 215);
    padding: 12px 0px;
    font-size: 16px;
    letter-spacing: 0.25px;
    font-weight: 400;
    /* color: rgb(240, 242, 248); */
    margin-bottom: 8px;
    border-radius: 0px;
}
.inputBox:focus, .inputBoxDark:focus{
    outline: none;
}
.inputBoxDark{
    border-top: none;
    border-right: none;
    border-left: none;
    border-image: initial;
    width: 100%;
    background: transparent;
    border-bottom: 2px solid rgb(48, 54, 61);
    padding: 12px 0px;
    font-size: 16px;
    letter-spacing: 0.25px;
    font-weight: 400;
    /* color: rgb(240, 242, 248); */
    margin-bottom: 8px;
    border-radius: 0px;
    color:'white';
}

.Github{
    border-radius: 32px;
    box-shadow: 0.2rem 0.4rem 12rem rgb(0 0 0 / 15%);
    overflow: hidden;
}

@media screen and (max-width: 360px) {
    .container{
        max-width: 390px;
    }
    .formHeader{
        padding: 10px 0px;
    }
    .card{
        height: 360px;
        width: 360px;
    }
    .card2 , .resumeBox{
        width: 156px;
        height: 167px;
    }
    .navDivAboutme {
        top: 20px;
    }
    .aboutmeParaDiv{
        margin-bottom: 23px;
    }
    .aboutproParaDiv {
        margin-bottom: 2px;
    }
    .aboutmeParagraph{
        font-size: 14px;
        line-height: 15px;
    }
    .spotifyImg {
        width: 150px;
        height: 150px;
    }
}


@media screen and (min-width: 361px) and (max-width: 400px) {
    .container{
        max-width: 390px;
    }
    .card{
        height: 360px;
        width: 360px;
    }
    .card2 , .resumeBox{
        width: 163px;
        height: 167px;
    }
    .navDivAboutme {
        top: 20px;
    }
    .aboutmeParaDiv{
        margin-bottom: 23px;
    }
    .aboutproParaDiv {
        margin-bottom: 2px;
    }
    .aboutmeParagraph{
        font-size: 14px;
        line-height: 15px;
    }
    .spotifyImg {
        width: 150px;
        height: 150px;
    }
}


@media screen and (min-width: 401px) and (max-width: 540px) {
    .container{
        max-width: 390px;
    }
    .card{
        height: 400px;
        width: 400px;
    }
    .card2 , .resumeBox{
        width: 170px;
        height: 180px;
    }
    .navDivAboutme {
        top: 20px;
    }
    .spotifyImg {
        width: 150px;
        height: 150px;}
    .aboutmeParaDiv{
        margin-bottom: 23px;
    }
    .aboutproParaDiv {
        margin-bottom: 2px;
    }
    .aboutmeParagraph{
        font-size: 15px;
    }
    .formHeader{
        padding: 30px 0px;
    }
}


@media screen and (min-width: 541px)and (max-width: 799px) {
    .container{
        max-width: 590px;
    }
    .card{
        height: 400px;
        width: 400px;
    } 
    .card2 , .resumeBox{
        width: 184px;
        height: 180px;
    }
    .aboutmeParaDiv{
        margin-bottom: 39px;
        font-size: 15px;
    }
    .aboutproParaDiv{
        margin-bottom: 8px;
        font-size: 15px;
    }

    .navDivAboutme{
        top: 32px;
    }
    .spotifyImg {
        width: 150px;
        height: 150px;
    }

}


@media screen and (min-width: 800px)and (max-width: 1000px) {
   .container{
      max-width: 650px;
      grid-template-columns: 150px 150px 150px 150px;
      grid-template-rows: 150px 150px 150px 150px 150px 150px 150px;
      gap: 5px;
    }
    .card{
        height: 300px;
        width: 300px;
    } 
    .card1-into{
        font-size: 24px;
        line-height: 24px;
        width: -webkit-fill-available;
    }
    /* .card1{
        order: -3;
    } */
    .designs{
        width: 300px;
        height: 150px;
    }
    .designs > img {
        width: 15rem;
        border-radius: 20px;
    }
    .arrow_right, .arrow_left{
        width: 1.7rem;
    }
    .Icons{
        width: 70px;
    }
    .card1{
        grid-area: 1/1/2/2;
    }
    .arrow_right, .arrow_left{
        top: auto;
    }
    .Spotify{
        height: 460px;
    }
    .card2 , .resumeBox, .LinkedinBox, .Github{
        width: 150px;
        height: 150px;
    }
    .formContainerDiv{
        font-size: 21px;
        text-align: center;
    }
    .navDivAboutme{
        top: 15px;
    }
    .aboutmeParaDiv{
        margin-bottom: 17px;
        font-size: 11px;
    }
    .aboutproParaDiv {
        margin-bottom: 4px;
        font-size: 11px;
    }
    .progIcons > svg{
        width: 25px;
        height: 25px;
    }
    .aboutmeParagraph {
        line-height: 14px;
    }    

}


@media screen and (min-width: 1000px)and (max-width: 1200px) {
    .container{
        max-width: 800px;
        grid-template-columns: 250px 250px 250px 250px;
        grid-template-rows: 250px 250px 250px 250px;
    }
    .card1-into{
        font-size: 24px;
        line-height: 24px;
        width: -webkit-fill-available;
        padding-top: 0.5rem;
    }
    .designs > img {
        width: 23rem;
    }
    .arrow_right, .arrow_left{
        top: auto;
    }
    .aboutmeParaDiv  {
        margin-bottom: 20px;
        font-size: 13px;
    }
    .aboutproParaDiv{
        margin-bottom: 20px;
        font-size: 13px;
    }
    .navDivAboutme{
        top: 25px;
    }
    .progIcons > svg {
        width: 30px;
        height: 30px;
    }
    .trackName > p {
        max-width: 11.5rem;
    }
    .spotifyImg {
        width: 175px;
        height: 175px;
    }
    .formContainerDiv{
       font-size: 25px;
    }
    .Icons {
        width: 135px;
    }
    .aboutmeParagraph {
        line-height: 15px;
    }
}


@media screen and (max-width: 800px) {
    .container{
        display: flex; 
        flex-wrap: wrap;
        margin: auto;
        justify-content: center;
    }
    .designs > img{
        width: 17rem;
    }
    .arrow_right, .arrow_left{
        top: auto;
    }
    .card1{
        align-items: center;
        justify-content: space-evenly;
    }
    .card1-into{
        font-size: 25px;
        width: -webkit-fill-available;
    }
    .designs{
        height: 200px;
    }
}