body{
    margin: 0;
}
.container{
    max-width: 1200px;
    display: grid; 
    grid-template-columns: 300px 300px 300px 300px;
    grid-template-rows: 300px 300px 300px 300px;
    /* gap: 5px; */
    margin: auto;
    transition: 0.5s ease-in-out 0.3s;
    justify-content: center;
    padding-bottom: 80px;
}

.card{
    margin: 12px; 
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.car-dark{
    background: var(--dark-box-bg);
    box-shadow:rgb(48, 54, 61) 0px 0px 0px 2px inset;
    border: 2px solid rgb(48, 54, 61);
    color: white;
}
.car-dark > form > div > input {
    color: white;
}
.card1 {
    grid-row: 1/2;
    grid-column: 1/3;
    border-radius: 32px;
    box-shadow: 0.2rem 0.4rem 12rem rgb(0 0 0 / 15%);
    position: relative;
    /* transition: var(0.4s); */
    /* width: 580px;
    height: 280px; */
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 36px 42px;
    border-radius: 32px;
}

.emojiButton{
    box-shadow: rgb(240, 242, 248) 0px 0px 0px 2px;
    position: absolute;
    height: 36px;
    padding: 0px 12px;
    top: 20px;
    right: 20px;
    border: medium none;
    border-radius: 18px;
    background: transparent;
    display: flex;
    -moz-box-align: center;
    align-items: center;
    transition: all 0.2s ease-out 0s;  
    cursor: pointer;
    
}
.emoji-b-dark {
    box-shadow: rgb(48, 54, 61) 0px 0px 0px 2px;
    color: white;
}

.image1{
    width: 100px;
}

.card1-into{
    font-size: 31px;
    /* font-family: "Silka Regular"; */
    line-height: 33px;
    letter-spacing: 0.5px;
    font-weight: 400;
    text-align: center;
    padding-top: 1rem;
}
.card1-into > span{

    color: #FFB800;
}

.card2{
    grid-row: 1/2;
    grid-column: 3/4;
    border-radius: 32px;
    box-shadow: 0.2rem 0.4rem 12rem rgb(0 0 0 / 15%);
    /* transition: var(0.4s); */
    overflow: hidden;
    cursor: pointer;
}
.DM-Container-circle{
    height: 48px;
    width: 90px;
    border-radius: 40px;
    display: flex;
    -moz-box-align: center;
    align-items: center;
    position: relative;
    background: rgb(33, 38, 45);
    box-shadow: rgb(48, 54, 61) 0px 0px 0px 2px inset;
}
.DM-Container-circle-white{
    height: 48px;
    width: 90px;
    border-radius: 40px;
    display: flex;
    -moz-box-align: center;
    align-items: center;
    position: relative;
    background: rgba(0, 0, 0, 0.07);
    /* box-shadow: rgb(48, 54, 61) 0px 0px 0px 2px inset; */
}
.DM-Container-bg{
    height: 36px;
    width: 36px;
    border-radius: 30px;
    background: darkgrey;
    position: absolute;
    display: flex;
    justify-items: center;
    -moz-box-align: center;
    align-items: center;
    cursor: pointer;
    transition-property: svg;
    transition-duration: 4s;
    transition-delay: 2s;
}
.DM-Container-icon{
    width: 60%;
    position: absolute;
    left: 7px;
    fill: #f6edb2;
}

.resumeBox{
    /* grid-row: 2/3;
    grid-column: 1/2; */
    border-radius: 32px;
    box-shadow: 0.2rem 0.4rem 12rem rgb(0 0 0 / 15%);
    overflow: hidden;
    background: #ff8080;
}
.resume_icon{
    max-width: 70%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
a{
    text-decoration: none;
}
.aboutMe{
    /* grid-row: 1/3;
    grid-column: 4/5; */
    border-radius: 32px;
    box-shadow: 0.2rem 0.4rem 12rem rgb(0 0 0 / 15%);
    /* transition: var(0.4s); */
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-right: 1rem;
    padding-left: 1rem;
}
.aboutMe > p {
    text-align: center;
}
.aboutmeNavBar{
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 25px;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 6px;
    padding-right: 6px;
    max-width: 314px;
    border: 2px solid rgb(48, 54, 61);
    color: var(--dark-font-color);
}
.aboutmeHighlight{
    position: absolute;
    background: rgb(33, 38, 45);
    /* z-index: -1; */
    width: 70px;
    border-radius: 16px;
    height: 32px;
    transition: all 0.3s;
}
.LinkedinBox{
    /* grid-row: 2/3;
    grid-column: 2/3; */
    border-radius: 32px;
    box-shadow: 0.2rem 0.4rem 12rem rgb(0 0 0 / 15%);
    /* transition: var(0.4s); */
    overflow: hidden;
    background: #0077B5;
}
.Icons{
    width: 140px;
}

.Spotify{
    /* grid-row: 2/4;
    grid-column: 3/4; */
    border-radius: 32px;
    box-shadow: 0.2rem 0.4rem 12rem rgb(0 0 0 / 15%);
    /* transition: var(0.4s); */
    overflow: hidden;
    flex-direction: column;
    justify-content:space-evenly;
}

.spotifyImg{
    width: 202px;
    height: 202px;
    border-radius: 12px;
    box-shadow: 0.2rem 0.4rem 1.2rem rgba(0, 0, 0, 0.08);
}
.spotifyIcon{
    width: 70px;
    height: 70px;
}
.recentlyplayedContanier{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-bottom: 0px;
}
.animationContainer{
    margin-right: 4px;
    display: flex;
    align-items: center;
}
.spotifyAnimator1{
    animation: playing 0.8s infinite;
}
.spotifyAnimator2{
    animation: playing 1s infinite;
}
.spotifyAnimator3{
    animation: playing 1.2s infinite;
}
.spotifyAnimator1, .spotifyAnimator2, .spotifyAnimator3{
    width: 3px;
    border-radius: 1.5px;
    background-color: #2ad45e;
    margin-right: 3px;
}
@keyframes playing {
    0% {
      height: 3px;
    }
    50% {
      height: 12px;
    }
    100% {
      height: 3px;
    }
}
.recentlyPlayed{
    font-size: 16px;
    font-weight: 600;
    color: #2ad45e;
    pointer-events: none;
}
.trackName{
    font-size: 24px;
    font-weight: 800;
    letter-spacing: 0.5px;
    text-decoration: none;
    color: inherit;
}
.trackName > p{
    max-width: 13.5rem;
}

.MapBox{
    border-radius: 32px;
    box-shadow: 0.2rem 0.4rem 12rem rgb(0 0 0 / 15%);
    /* transition: var(0.4s); */
    overflow: hidden; 
}
.mapclass{
    width: 100%;
    height: 100%;
}
.designs{
    grid-area: 3/1/4/2;
    border-radius: 32px;
    box-shadow: 0.2rem 0.4rem 12rem rgb(0 0 0 / 15%);
    /* transition: var(0.4s); */
    overflow: hidden; 
    flex-direction: column; 
    position: relative;
}
.designs > img{
    width: 28rem;
    border-radius: inherit;
}

.arrow_left {
    width: 3rem;
    left: 3px;
    top: 7rem;
    cursor: pointer;
    transition: all 0.3s;
    position: absolute;
}
.arrow_right {
    width: 3rem;
    right: 3px;
    top: 7rem;
    cursor: pointer;
    transition: all 0.3s;
    position: absolute;
}

.card10{
    border-radius: 32px;
    box-shadow: 0.2rem 0.4rem 12rem rgb(0 0 0 / 15%);
    /* transition: var(0.4s); */
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}
.card10 > h2{

    font-size: 24px;
}
input{ 
    margin-bottom: 15px;
    height: 30px;
    text-indent: 10px;
    border: 1px solid #444;
    border-radius: 5px;
    display: block;
    background: transparent;
}
.Github{
    border-radius: 32px;
    box-shadow: 0.2rem 0.4rem 12rem rgb(0 0 0 / 15%);
    overflow: hidden;
}
@media screen and (max-width: 400px) {
    .container{
        max-width: 390px;
    }
    .card{
        height: 360px;
        width: 360px;
    }
    .card2 , .resumeBox{
        width: 150px;
        height: 150px;
    }
}
@media screen and (min-width: 401px)and (max-width: 540px) {
    .container{
        max-width: 390px;
    }
    .card{
        height: 400px;
        width: 400px;
    }
    .card2 , .resumeBox{
        width: 170px;
        height: 180px;
    }
}
@media screen and (min-width: 541px)and (max-width: 800px) {
    .container{
        max-width: 590px;
    }
    .card{
        height: 400px;
        width: 400px;
    } 
    .card2 , .resumeBox{
        width: 184px;
        height: 180px;
    }
}
@media screen and (min-width: 800px)and (max-width: 1000px) {
   .container{
      max-width: 800px;
      display: flex;
      margin: 0 auto;
      justify-content: center;
      flex-wrap: wrap;

    }
    .card{
        height: 350px;
        width: 350px;
    } 
    .card1-into{
        font-size: 24px;
        line-height: 24px;
        width: -webkit-fill-available;
        
    }
    /* .card1{
        order: -3;
    } */
    /* .designs{
        order: -3;
        height: 150px;
    } */
    .card1{
        width: 350px;
        height: 250px;
        order: -2;
    }
    .designs > img {
        width: 19rem;
    }
    .arrow_right, .arrow_left{
        top: auto;
    }
    
    .card2 , .resumeBox{
        width: 160px;
        height: 160px;
        /* order: -3; */
    }
    .designs{
        order: -1;
        height: 112px;
    }
   
}
@media screen and (min-width: 1000px)and (max-width: 1200px) {
    .container{
        max-width: 800px;
        grid-template-columns: 250px 250px 250px 250px;
        grid-template-rows: 250px 250px 250px 250px;
    }
    .card1-into{
        font-size: 24px;
        line-height: 24px;
        width: -webkit-fill-available;
    }
    .designs > img {
        width: 23rem;
    }
    .arrow_right, .arrow_left{
        top: auto;
    }
}

@media screen and (max-width: 800px) {
    .container{
        display: flex; 
        flex-wrap: wrap;
        margin: auto;
        justify-content: center;
    }
    .designs > img{
        width: 17rem;
    }
    .arrow_right, .arrow_left{
        top: auto;
    }
    .card1{
        align-items: center;
        justify-content: space-evenly;
    }
    .card1-into{
        font-size: 25px;
        width: -webkit-fill-available;
    }
    .designs{
        height: 200px;
    }
    }